@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400..900;1,400..900&family=Bungee&family=Limelight&family=Palanquin+Dark:wght@400;500;600;700&family=Pattaya&family=Righteous&family=Silkscreen&display=swap');
*{outline: none;}
body {
    font-family: Righteous;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #18243f64;
    color: #fffafa;
}

header {
    padding: 10px 0;
    background-color: #18243f;
}
nav{display: flex; align-items: center; justify-content: space-between;
  h1{text-align: left; margin-left: 3%; font-size: 40px; color: orange; .sirius{color:white}}
}

nav ul {list-style: none; font-size: 20px;}
nav ul li {display: inline; margin: 0 40px;}
nav ul li a {color: #fff; text-decoration: none;}
nav ul li a:hover{
    transition: .3s;
    color: orange;
    border-bottom: solid 7px orange;
}
span{color:orange; text-decoration: underline;}

img{
  width: 490px;
  height: 600px;
  box-shadow: -1px 0 20px 5px #18243f60;
}


/*details about me*/
.container{
  margin-top: 5%;
  padding: 50px;
}
.Me{
  h1{font-size: 100px; color: #18243f;}
  p{line-height: 2;  text-align: justify; font-size: 20px;}
}

.About{display: flex; gap: 10%;}
/*-----------------------------Container2----------------------------------------------------*/
.container2{
  margin: 8% 20% 10%;
  border-radius: 30px;
  padding: 10px;
  background-color: #18243f; border: solid 4px white;
  justify-content: center;
  h1{justify-content: center; color: orange;
    display: flex; font-size: 40px; span{color: white;}}
  .bi-brush-fill{font-size: 50px; z-index: -1;}
  .bi-pen-fill{font-size: 50px;}
}

.skills{display: flex; gap: 8%; i{font-size: 80px; font-style: normal;
h5{font-size: 25px; letter-spacing: 2px;} text-align: center; color: orange;}}


/*-----------------------------Container3----------------------------------------------------*/
p{line-height: 2;}
.why{
  display:grid;
  grid-template-columns: auto auto;
  column-gap: 10%;
  row-gap: 8%;
  padding: 80px;
}

.container3{
  padding: 10px 10px;
  border-radius: 25px;
  background-color: #18243fdf;
  border: 5px solid white;
  h1{ color: orange; font-size: 40px; span{color: white;}}
}

.Education li{font-size: 17px; line-height: 2;  list-style-image: url(../img/starry\ icon.png);}


/*-----------------------------Container4----------------------------------------------------*/
.container4{
  border-radius: 5px;
  p{text-align: justify;}
  h1{font-size: 40px;text-align: center;}
}

.container41{
  img{width: 600px; height: 400px; border-radius: 10px;}
  margin-left: 30%;
  background-color: #18243f;
  padding: 20px;
  border-radius: 10px;
}
/*-----------------------------Container5----------------------------------------------------*/

.what{
  padding: 50px;
  display: grid;
  grid-template-columns: auto auto;
}

.container5{
  h1{font-size: 50px;}
  padding: 5px;
  margin: 10%
}
.container6{
  img {width: 500px;
  height: 300px;z-index: 1; border-radius: 10px;}
  img {width: 500px;
    height: 300px;z-index: 1; border-radius: 10px;}
  .steven3 {width: 1000px;
      height: 500px;z-index: 1;}
}

.container61{
  img {width: 400px;
    height: 500px;z-index: 1;
  border-radius: 10px;}
}

span{color:orange;}

footer {
  background-color: #18243f;
  color: #fff;
  text-align: center;
  padding: 1px 0;
  width: 100%;
  bottom: 0;
}


