@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400..900;1,400..900&family=Bungee&family=Limelight&family=Palanquin+Dark:wght@400;500;600;700&family=Pattaya&family=Righteous&family=Silkscreen&display=swap');
*{outline: none;}
body {
    font-family: Righteous;
    margin: 0;
    padding: 0;
    background-color: #18243f;
    color: #fffafa;

}

header {
    padding: 30px 0;
    text-align: center;
    span{font-size: 40px;}
}
.illustrator{ font-size: large;}
h3{ letter-spacing: 3px;}
h1 {
    margin: 0;
    letter-spacing: 3px;
    font-size: 36px;
}
p{font-size: 20px;}
nav{display: flex; align-items: center; justify-content: space-between;
    h1{text-align: left; margin-left: 3%; font-size: 40px; color: orange; .sirius{color:white}}
  }

  nav ul {list-style: none; font-size: 20px;}
  nav ul li {display: inline; margin: 0 40px;}
  nav ul li a {color: #fff; text-decoration: none;}
  nav ul li a:hover{
      transition: .3s;
      color: orange;
      border-bottom: solid 7px orange;
  }

main {
    display: flex;
    gap: 8%;
    justify-content: center;
    padding: 50px;
    margin-top: 5%;
}
span{
    color: orange;
    text-decoration: underline;
    font-size: 50px;
}
img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: flex;
    box-shadow: -1px 0 20px 10px rgba(0, 0, 0, 0.1);
}
section{margin-top: 5%;}
