@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400..900;1,400..900&family=Bungee&family=Limelight&family=Palanquin+Dark:wght@400;500;600;700&family=Pattaya&family=Righteous&family=Silkscreen&display=swap');
body {
    font-family: Righteous;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
    color: #333;
    outline: auto;
    background-image: url(../img/popteamepic.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    object-fit: cover;

}

header {
    padding: 30px 0;
    text-align: center;
    background-color: #18243f;
}

 h1 {
    margin: 0;
    letter-spacing: 3px;
    font-size: 36px;
}
p{font-size: 20px;}
nav ul {
    list-style: none;
    padding: 0;
    font-size: 20px;
    border-radius: 5px;
}

nav ul li {
    display: inline;
    margin: 0 30px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}
nav ul li a:hover{
    transition: .3s;
    border-bottom: solid 5px rgb(129, 224, 227);
}

.container{
    display: flex;
    margin-top: 10%;
    padding: 30px;
    gap: 8%;
    font-size: small;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
}

.do{
    width: 500px;
    height: 500px;
    border-radius: 10px;
}

#do1{
    background-color: aquamarine;
}
#do2{
    background-color: rgb(2, 109, 0);
}
#do3{
    background-color: rgb(214, 13, 180);
}

main{
    float: left;
}
.container2{
    display: flex;
    margin-top: 40%;
    padding: 30px;
    gap: 10%;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
}

.do{
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

#do4{
    background-color: rgb(255, 255, 127);
}
#do5{
    background-color: rgb(0, 64, 109);
}
#do6{
    background-color: rgb(214, 13, 90);
}



